mat-dialog-content {
  margin-top: 15px;
  width: 600px;
  height: 65vh !important;
}

mat-grid-tile {
  overflow: initial !important;
  margin-top: 35px;
}

mat-label {
  text-transform: capitalize;
}
